$black: #000000;
$black1: #222222;

$white: #FFFFFF;
$white1: #FAFAFA;

$gray1: #DCDFE6;
$gray1-hover: #dcdfe672;
$gray2: #BCBCBC;

$turquoise1: #29A19C;

$green: #27C153;
$light-green: #DDFFE7;

$red: #FF4437;
$light-red: #FFEBEA;